@import "../assets/fonts/proxima-nova/font-proxima-nova.css";
@import "../assets/fonts/helvetica/font-helvetica.css";
@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=Abel");
::-webkit-scrollbar {
    width: 0px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0;
    border-radius: 0;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(238, 238, 238, 1.0);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

a,
a:hover,
a:active,
a:after,
a:before,
a:focus,
a:link,
a:visited {
    outline: none;
}

textarea {
    resize: none;
}

main {
    margin-top: 101px;
}

@media (max-width: 575px) {
    main {
        margin-top: 56px;
    }
}

h1 {
    font-family: 'Helvetica';
}

.bg-transparent {
    background-color: transparent;
}

.bg-none {
    background-color: rgba(0, 0, 0, 0.5);
}


/* NAVBAR */

header nav {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-nav a {
    font-size: .9em;
    font-weight: bold;
}

.navbar-nav a i {
    font-size: 1.4em;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.navbar-nav a:hover i {
    color: #1b6d85;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.nav-pills {
    float: right;
    margin-right: 10px;
}

.nav-pills>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 20px;
    font-size: 1.2em;
    color: #777;
}


/* SECTIONS */

#sobre {
    background: url('../img/background/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.about-title {
    font-family: 'Abel';
    font-size: 2em;
}

.about-history {
    font-family: 'Abel';
    font-size: 1.6em !important;
}

#servicos .jumbotron h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contato {
    background: url('../img/background/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.email h4 {
    color: #777;
}

@media (max-width: 576px) {
    #contato .jumbotron h1 {
        text-align: center !important;
    }
    #contato .jumbotron p {
        text-align: justify !important;
    }
}

@media (max-width: 992px) {
    #sobre .about-title {
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #portfolio h1 {
        font-size: 2em;
    }
    #portfolio h4 {
        font-size: 1em;
    }
}


/* ------------ PAGES ----------------*/

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.border-tl {
    border-top-left-radius: 50px;
}

.border-tr {
    border-top-right-radius: 50px;
}

.border-br {
    border-bottom-right-radius: 50px;
}

.border-bl {
    border-bottom-left-radius: 50px;
}

.big-cards {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -45px;
    margin-bottom: 3%;
}

.big-cards img {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
}

@media (max-width: 767px) {
    .big-cards {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5%;
    }
}

.section-pages .jumbotron {
    padding-top: 20px;
}

.section-pages .jumbotron p {
    font-size: 1.2em;
}

.section-pages .jumbotron {
    background-color: white;
    padding-bottom: 0;
}

.section-pages .jumbotron .container {
    padding-top: 50px;
    padding-left: 16%;
    padding-right: 16%;
    text-align: left;
}

@media (max-width: 992px) {
    .section-pages .jumbotron {
        padding-top: 0;
    }
    .section-pages .jumbotron .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.section-pages .jumbotron h1 {
    padding-bottom: 15px;
}

.section-pages .jumbotron h4 {
    font-family: 'Helvetica Bold';
    font-size: 1.6em;
}

.section-pages .jumbotron span {
    font-size: 1.4em;
    font-family: 'Helvetica Light';
    color: #777;
}

.section-pages .jumbotron .ano {
    font-family: 'Helvetica Bold';
    padding-top: 15px;
}

section.reproduzir {
    padding-top: 60px;
}

.letter-spacing {
    letter-spacing: 5px;
}

.f-roboto-thin {
    font-family: 'Roboto Thin' !important;
}

.f-roboto {
    font-family: 'Roboto' !important;
}


/* BOX */

.box .horizontal,
.box .horizontal .overlay,
{
    width: 100%;
    height: 200px;
}

.box .vertical,
.box .vertical .overlay,
{
    width: 100%;
    height: 477px;
}

.box img {
    z-index: 1;
}

.box .overlay {
    opacity: 0;
    z-index: 2;
}

.box a {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.box .overlay:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
}

.box a:hover {
    width: 100%;
    border: 1px solid #00DFDF;
    transition: all 0.5s ease-in-out;
}

.box .box-title {
    padding-top: 20px;
    padding-left: 40px;
    font-family: 'Proxima Nova';
    color: white;
}

@media (min-width: 576px) {
    .box.horizontal a,
    .box.horizontal .box-title {
        width: 121px;
        height: 81px;
    }
    .box.vertical a,
    .box.vertical .box-title {
        width: 121px;
        height: 193px;
    }
    .box .box-title h5,
    .box .box-title p {
        font-size: 75%;
    }
}

@media (min-width: 768px) {
    .box.horizontal a,
    .box.horizontal .box-title {
        width: 166px;
        height: 111px;
    }
    .box.vertical a,
    .box.vertical .box-title {
        width: 166px;
        height: 264px;
    }
    .box .box-title h5,
    .box .box-title p {
        font-size: 80%;
    }
}

@media (min-width: 992px) {
    .box.horizontal a,
    .box.horizontal .box-title {
        width: 228px;
        height: 150px;
    }
    .box.vertical a,
    .box.vertical .box-title {
        width: 228px;
        height: 360px;
    }
    .box .box-title h5,
    .box .box-title p {
        font-size: 100%;
    }
}

@media (min-width: 1200px) {
    .box.horizontal a,
    .box.horizontal .box-title {
        width: 275px;
        height: 180px;
    }
    .box.vertical a,
    .box.vertical .box-title {
        width: 275px;
        height: 435px;
    }
    .box .box-title h5 {
        font-size: 120%;
    }
    .box .box-title p {
        font-size: normal;
    }
}