::-webkit-scrollbar {
    width: 0;
}

html {
    background-color: #e9e9e9;
}

body {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

button,
input,
select,
a {
    outline: none !important;
}

a:hover,
a:active,
a:after,
a:before,
a:focus,
a:link,
a:visited {
    outline: none;
    text-decoration: none;
}

main {
    background-color: #e9e9e9;
    margin-top: 56px;
}

.content {
    margin: 80px 5px 0 300px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.no-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}


/* Waves ======================================= */

.waves-effect.waves-red .waves-ripple {
    background: rgba(244, 67, 54, 0.5);
}

.waves-effect.waves-pink .waves-ripple {
    background: rgba(233, 30, 99, 0.5);
}

.waves-effect.waves-purple .waves-ripple {
    background: rgba(156, 39, 176, 0.5);
}

.waves-effect.waves-deep-purple .waves-ripple {
    background: rgba(103, 58, 183, 0.5);
}

.waves-effect.waves-indigo .waves-ripple {
    background: rgba(63, 81, 181, 0.5);
}

.waves-effect.waves-blue .waves-ripple {
    background: rgba(33, 150, 243, 0.5);
}

.waves-effect.waves-light-blue .waves-ripple {
    background: rgba(3, 169, 244, 0.5);
}

.waves-effect.waves-cyan .waves-ripple {
    background: rgba(0, 188, 212, 0.5);
}

.waves-effect.waves-teal .waves-ripple {
    background: rgba(0, 150, 136, 0.5);
}

.waves-effect.waves-green .waves-ripple {
    background: rgba(76, 175, 80, 0.5);
}

.waves-effect.waves-light-green .waves-ripple {
    background: rgba(139, 195, 74, 0.5);
}

.waves-effect.waves-lime .waves-ripple {
    background: rgba(205, 220, 57, 0.5);
}

.waves-effect.waves-yellow .waves-ripple {
    background: rgba(255, 232, 33, 0.5);
}

.waves-effect.waves-amber .waves-ripple {
    background: rgba(255, 193, 7, 0.5);
}

.waves-effect.waves-orange .waves-ripple {
    background: rgba(255, 152, 0, 0.5);
}

.waves-effect.waves-deep-orange .waves-ripple {
    background: rgba(255, 87, 34, 0.5);
}

.waves-effect.waves-brown .waves-ripple {
    background: rgba(121, 85, 72, 0.5);
}

.waves-effect.waves-grey .waves-ripple {
    background: rgba(158, 158, 158, 0.5);
}

.waves-effect.waves-blue-grey .waves-ripple {
    background: rgba(96, 125, 139, 0.5);
}

.waves-effect.waves-black .waves-ripple {
    background: rgba(0, 0, 0, 0.5);
}

.waves-effect.waves-white .waves-ripple {
    background: rgba(255, 255, 255, 0.5);
}


/* Page Loader ================================= */

.page-loader-wrapper {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
    text-align: center;
}

.page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

.page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px);
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes container-rotate {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg);
    }
    25% {
        transform: rotate(270deg);
    }
    37.5% {
        transform: rotate(405deg);
    }
    50% {
        transform: rotate(540deg);
    }
    62.5% {
        transform: rotate(675deg);
    }
    75% {
        transform: rotate(810deg);
    }
    87.5% {
        transform: rotate(945deg);
    }
    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@keyframes left-spin {
    from {
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@-moz-keyframes right-spin {
    from {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@keyframes right-spin {
    from {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@media (max-width: 767px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 35px;
    }
    .navbar .navbar-header {
        display: inline-block;
        width: calc(100% + 30px);
    }
    .navbar .nav .nav-item .dropdown-menu {
        right: 10px !important;
        left: 10px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 35px;
    }
}

@media (min-width: 992px) and (max-width: 1169px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 20px;
    }
}

.footer-fixed-top {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 15px;
    overflow: hidden;
}

footer a {
    color: white;
    list-style: none;
}

.copyright {
    font-size: 13px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.copyright a {
    font-weight: bold;
    text-decoration: none;
}

.version {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5px;
    font-size: 13px;
}

.list-unstyled a {
    color: white;
}

.navbar {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 12;
}

.navbar .navbar-brand {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    margin-left: -20px;
    margin-top: 5px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:focus {
    color: #fff;
}


/*Icone das setinhas*/

.navbar .navbar-toggler {
    text-decoration: none;
    color: #fff;
    width: 20px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 30px;
    border: 0;
}

.navbar .navbar-toggler:before {
    content: '\E8D5';
    font-family: 'Material Icons';
    font-size: 26px;
}

.navbar .navbar-collapse.in {
    overflow: visible;
}

.navbar-header {
    padding: 0px 7px;
}

.navbar-header .bars {
    float: left;
    margin-top: 5px;
    text-decoration: none;
    color: #fff;
}

.navbar .nav {
    width: 100%;
}

.navbar .nav .nav-item .nav-link {
    padding: 0;
}

.navbar .nav .nav-item i {
    color: white;
}

.navbar .nav .nav-item .badge {
    background-color: #000;
    color: white;
    position: relative;
    top: -15px;
    right: 4px;
}


/*.navbar-nav>li>a {
    padding: 7px 7px 2px 7px;
    margin-top: 17px;
    margin-left: 5px;
    color: #fff;
}

.navbar-nav .dropdown-menu {
    margin-top: 40px !important;
} */


/* Dropdown Menu =============================== */

.navbar .nav .nav-item .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-top: -15px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
    right: 10px;
    left: auto;
}

.navbar .nav .nav-item .dropdown-menu li {
    list-style: none;
}

.navbar .nav .nav-item .dropdown-menu .divider {
    margin: 5px 0;
}

.navbar .nav .nav-item .dropdown-menu .header {
    font-size: 13px;
    font-weight: bold;
    min-width: 270px;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 4px 0 6px 0;
}

.navbar .nav .nav-item .dropdown-menu ul.menu {
    padding-left: 0;
}

.navbar .nav .nav-item .dropdown-menu ul.menu.tasks h4 {
    color: #333;
    font-size: 13px;
    margin: 0 0 8px 0;
}

.navbar .nav .nav-item .dropdown-menu ul.menu.tasks h4 small {
    float: right;
    margin-top: 6px;
}

.navbar .nav .nav-item .dropdown-menu ul.menu.tasks .progress {
    height: 7px;
    margin-bottom: 7px;
}

.navbar .nav .nav-item .dropdown-menu ul.menu .icon-circle {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.navbar .nav .nav-item .dropdown-menu ul.menu .icon-circle i {
    font-size: 18px;
    line-height: 36px;
}

.navbar .nav .nav-item .dropdown-menu ul.menu li {
    border-bottom: 1px solid #eee;
}

.navbar .nav .nav-item .dropdown-menu ul.menu li:last-child {
    border-bottom: none;
}

.navbar .nav .nav-item .dropdown-menu ul.menu li a {
    padding: 7px 11px;
    text-decoration: none;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.navbar .nav .nav-item .dropdown-menu ul.menu li a:hover {
    background-color: #e9e9e9;
}

.navbar .nav .nav-item .dropdown-menu ul.menu .menu-info {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 5px;
}

.navbar .nav .nav-item .dropdown-menu ul.menu .menu-info h4 {
    margin: 0;
    font-size: 13px;
    color: #333;
}

.navbar .nav .nav-item .dropdown-menu ul.menu .menu-info p {
    margin: 0;
    font-size: 11px;
    color: #aaa;
}

.navbar .nav .nav-item .dropdown-menu ul.menu .menu-info p .material-icons {
    font-size: 13px;
    color: #aaa;
    position: relative;
    top: 2px;
}

.navbar .nav .nav-item .dropdown-menu .footer a {
    border-top: 1px solid #eee;
    padding: 5px 0 5px 0;
    font-size: 12px;
    margin-bottom: -5px;
}

.navbar .nav .nav-item .dropdown-menu .footer a:hover {
    background-color: transparent;
}

.navbar .nav .nav-item .dropdown-menu>li>a {
    padding: 7px 18px;
    color: #666;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 25px;
}

.navbar .nav .nav-item .dropdown-menu>li>a:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.navbar .nav .nav-item .dropdown-menu>li>a i.material-icons {
    float: left;
    margin-right: 7px;
    margin-top: 2px;
    font-size: 20px;
}

.navbar .nav .nav-item .dropdown-animated {
    -webkit-animation-duration: .3s !important;
    -moz-animation-duration: .3s !important;
    -o-animation-duration: .3s !important;
    animation-duration: .3s !important;
}

.ls-closed .sidebar {
    margin-left: -300px;
}

.ls-closed .content {
    margin-left: 5px;
}

.ls-closed .bars:after,
.ls-closed .bars:before {
    font-family: 'Material Icons';
    font-size: 24px;
    position: absolute;
    top: 14px;
    left: 20px;
    margin-right: 12px;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.ls-closed .bars:before {
    content: '\E5D2';
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.ls-closed .bars:after {
    content: '\E5C4';
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}


/* Left Sidebar & Overlay ====================== */

.overlay-open .bars:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.overlay-open .bars:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.overlay-open .sidebar {
    margin-left: 0;
    z-index: 99999999;
}

.sidebar {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Roboto";
    background: #fdfdfd;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 11 !important;
}

.sidebar .sidebar-info {
    padding: 13px 15px 12px 15px;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    background: url("../images/background/bg_2.png") no-repeat no-repeat;
    height: 135px;
}

.sidebar .sidebar-info .image {
    margin-right: 12px;
    display: inline-block;
}

.sidebar .sidebar-info .image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom !important;
}

.sidebar .sidebar-info .info-container {
    cursor: default;
    display: block;
    position: relative;
    top: 25px;
}

.sidebar .sidebar-info .info-container .info-profile {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    color: #fff;
}

.sidebar .sidebar-menu {
    position: relative;
    overflow-y: auto;
    height: 90vh;
}

.sidebar .sidebar-menu::-webkit-scrollbar {
    width: 4px;
}

.sidebar .sidebar-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0;
    border-radius: 0;
}

.sidebar .sidebar-menu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(238, 238, 238, 1.0);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar .sidebar-menu::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.3);
}

.sidebar .nav-link {
    padding: .3rem 1rem;
}

.sidebar .nav-pills .nav-link.active,
.sidebar .nav-pills .show>.nav-link {
    background-color: #333;
}

.sidebar .nav-pills .nav-link.active i,
.sidebar .nav-pills .nav-link.active span,
.sidebar .nav-pills .show>.nav-link span {
    color: #fff;
    font-weight: 400;
}

.sidebar .nav-link i {
    color: #747474;
    font-size: 22px;
    width: 4vh;
}

.sidebar .nav-link span {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

.sidebar .sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eee;
    overflow: hidden;
}


/*
.sidebar .menu {
    position: relative;
    overflow-y: auto;
    height: 90vh;
}

.sidebar .menu .list {
    list-style: none;
    padding-left: 0;
}

.sidebar .menu .list li.active> :first-child span {
    font-weight: bold;
}

.sidebar .menu .list .header {
    background: #eee;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
}

.sidebar .menu .list i.material-icons {
    margin-top: 4px;
}

.sidebar .menu .list .menu-toggle:after,
.sidebar .menu .list .menu-toggle:before {
    position: absolute;
    top: calc(50% - 14px);
    right: 17px;
    font-size: 19px;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar .menu .list .menu-toggle:before {
    content: '+';
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.sidebar .menu .list .menu-toggle:after {
    content: '\2013';
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.sidebar .menu .list .menu-toggle.toggled:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.sidebar .menu .list .menu-toggle.toggled:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.sidebar .menu .list a {
    color: #747474;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px;
}

.sidebar .menu .list a:hover,
.sidebar .menu .list a:active,
.sidebar .menu .list a:focus {
    text-decoration: none !important;
}

.sidebar .menu .list a small {
    position: absolute;
    top: calc(50% - 7.5px);
    right: 15px;
}

.sidebar .menu .list a span {
    margin: 7px 0 7px 12px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}

.sidebar .menu .list .ml-menu {
    list-style: none;
    display: none;
    padding-left: 0;
}

.sidebar .menu .list .ml-menu span {
    font-weight: normal;
    font-size: 14px;
    margin: 3px 0 1px 6px;
}

.sidebar .menu .list .ml-menu li a {
    padding-left: 55px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle) {
    font-weight: 600;
    margin-left: 5px;
}

.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
    content: '\E315';
    font-family: 'Material Icons';
    position: relative;
    font-size: 21px;
    height: 20px;
    top: -5px;
    right: 0px;
}

.sidebar .menu .list .ml-menu li .ml-menu li a {
    padding-left: 80px;
}

.sidebar .menu .list .ml-menu li .ml-menu .ml-menu li a {
    padding-left: 95px;
} */


/* Fonts Size */

.f-10 {
    font-size: 10px;
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}


/* Card ======================================== */

.card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.card .header {
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.card .header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #111;
}

.card .header h2 small {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    line-height: 15px;
}

.card .header h2 small a {
    font-weight: bold;
    color: #777;
}

.card .header .col-xs-12 h2 {
    margin-top: 5px;
}

.card .body {
    font-size: 14px;
    color: #555;
    padding: 20px;
}

.card .info {
    color: #74829C;
}

.card .info .col {
    color: #bdbdbd;
    font-size: 13px;
    border-right: 1px solid #e6e6e6;
}

.card .info .col:last-child {
    border-right: none;
}


/*
.card .card-inside-title {
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    color: #000;
}

.card .card-inside-title small {
    color: #999;
    display: block;
    font-size: 11px;
    margin-top: 5px;
}

.card .card-inside-title small a {
    color: #777;
    font-weight: bold;
}

.card .card-inside-title:first-child {
    margin-top: 0;
} */

.card .header .dropdown-toggle::after {
    content: none !important;
}

.card .header .nav-link i:hover {
    color: #000;
}

.table thead tr th {
    font-family: 'Roboto';
    font-weight: normal;
}


/* Dialogs (SweetAlert) ======================== */

.sweet-alert {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.sweet-alert p {
    font-size: 14px !important;
}

.sweet-alert .sa-input-error {
    top: 23px !important;
    right: 13px !important;
}

.sweet-alert h2 {
    font-size: 18px !important;
    margin: 0 0 5px 0 !important;
}

.sweet-alert button {
    font-size: 15px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    padding: 5px 20px !important;
}


/* Toasts ========================*/

.gtoast {
    position: absolute;
    top: 5px;
    right: 0;
}

.gtoast .toast {
    background-color: rgba(0, 123, 255, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: white;
    position: relative;
    top: 70px;
    right: 10px;
}

.gtoast .toast .title {
    width: 250px;
    word-wrap: break-word;
}

.gtoast .toast .title i {
    font-size: 1.5em;
}

.gtoast .toast .close {
    position: absolute;
    top: 3px;
    right: 7px;
    color: white;
    text-shadow: none;
    opacity: 1;
}